$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

body > div {
	padding-top: 80px;

	padding-bottom: 10vh;
}

a {
	cursor: pointer;
}

.spacer{
	height:30px;
	&.double{
		height: 60px;
	}
	&.triple{
		height: 90px;
	}
}