<div class="container">
  <div class="row">
    <div class="col-md-9">

      <div class="panel panel-default">
        <div class="panel-body">
          <h4 ng-hide='newMember'> Login </h4>    
          <h4 ng-show='newMember'> Register </h4>

          <div ng-show='error' class="alert alert-warning" role="alert">{{error}}</div>

          <div class="form-group">
            <input class="form-control" type='email' placeholder='Email' ng-model='user.email'></input>
          </div>
          <div class="form-group">
            <input class="form-control" type='password' placeholder='Password' ng-model='user.password'></input>
          </div>
          <div class="form-group">
            <input class="form-control" type='password' placeholder='Repeat Password' 
                   ng-model='user.passwordRepeat' ng-show='newMember'></input>
          </div>

          <div class="form-group">
            <button class="btn btn-success" ng-click='login()' ng-hide="newMember">{{loginStatus}}</button>
            <button class="btn btn-success" ng-click='register()' ng-show="newMember">Sign Up</button>
          </div>

          <p ng-hide="newMember"> Dont have an account? It's easy to <a href="#" ng-click='newMember = true;'> create one </a></p>
          <p ng-show="newMember"> Already a member? Login <a href="#" ng-click='newMember = false;'> here </a></p>

        </div>
      </div>

    </div>
  </div>

</div>
