<div class="container">
  <div class="row">
    <div class="col-md-9">
    	<h1> Search </h1>
    	<div>  	
	    	<h3>Filter By</h3>

		    	<ul class="nav nav-tabs">
				  <li role="presentation" 
				      ng-click="showFilter(filter.name)" 
				      ng-repeat="filter in filterOptions">
				      <a>{{filter.display}}</a>
				  </li>

				</ul>

	    </div>

	    <div class="spacer"></div>
	    
      	<div class="panel panel-default" ng-repeat="user in users">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	{{user.profile.firstName}} {{user.profile.lastName}}
		    	- <em>{{user.profile.suburb}}, {{user.profile.state}}</em> 
		    </h3>
		  </div>
		  <div class="panel-body">
		    <h4>Services</h4>
		    <ul>
		    	<li ng-repeat="service in user.services">
		    		{{service.name}} - <em>{{service.level}}</em> 
		    	</li>
		    </ul>
		  </div>
		</div>

    </div>
  </div>

</div>